{% extends "base.html" %}

{% block content %}

<h2>Cambiar contraseña</h2>

<form method="POST">

    <div class="mb-3">
        <label>Contraseña actual</label>
        <input
            type="password"
            name="actual"
            class="form-control"
            required
        >
    </div>

    <div class="mb-3">
        <label>Nueva contraseña</label>
        <input
            type="password"
            name="nueva"
            class="form-control"
            required
        >
    </div>

    <div class="mb-3">
        <label>Repetir contraseña</label>
        <input
            type="password"
            name="repetir"
            class="form-control"
            required
        >
    </div>

    <button
        class="btn btn-primary"
        type="submit"
    >
        Guardar
    </button>

</form>

{% endblock %}